/* Confirmation.css */

.delivery-text {
    position: absolute;
    top: 110px;
    left: 20px;
    transform: rotate(25deg);
    font-family: 'PressStart2P-Regular';
}

.star-container {
    position: relative;
    margin-top: -260px;
    margin-left: 750px;
}

.asterisk {
    position: fixed;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

.confirmation {
    margin-top: 220px;
    font-size: 48px;
    text-align: center;
}
