/* Confirmation.css */

.delivery-text {
    position: absolute;
    top: 110px;
    left: 20px;
    transform: rotate(25deg);
    font-family: 'PressStart2P-Regular';
}

.star-container {
    position: relative;
    margin-top: -260px;
    margin-left: 750px;
}

.asterisk {
    position: fixed;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

.confirmation {
    margin-top: 220px;
    font-size: 48px;
    text-align: center;
}

@media screen and (max-width: 820px) {
    
    .delivery-text {
        position: absolute;
        left: 30px;
        transform: rotate(25deg);
        font-size: 12px;
        font-family: 'PressStart2P-Regular';
    }
    
    .star-container {
        position: relative;
        margin-top: -300px;
        margin-left: 500px;
    }
    
    .asterisk {
        position: fixed;
        width: 240px;
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .confirmation {
        position: relative; 
        z-index: 9999; 
        margin-top: 400px;
        font-size: 36px;
        text-align: center;
    }
    
}

@media screen and (max-width: 390px) {
    
    .delivery-text {
        position: absolute;
        left: 30px;
        transform: rotate(25deg);
        font-size: 12px;
        font-family: 'PressStart2P-Regular';
    }
    
    .star-container {
        position: relative;
        margin-top: -300px;
        margin-left: 80px;
    }
    
    .asterisk {
        position: fixed;
        width: 240px;
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        margin-bottom: 7px;
        text-align: center;
    }
    
    .confirmation {
        position: relative; 
        z-index: 9999; 
        margin-top: 220px;
        font-size: 36px;
        text-align: center;
    }
    
}