/* Header.css */

.header {
    color: black;
    text-decoration: none;
}

.marquee {
    width: 100%;
    animation: marquee 10s infinite linear;
    font-size: 96px;
    font-family: 'PressStart2P-Regular';
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
}

@media (max-width: 390px) {

    .marquee {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        animation: marquee 5s infinite linear;
        font-size: 60px;
        font-family: 'PressStart2P-Regular';
        color: black;
        text-decoration: none;
        text-transform: capitalize;
        white-space: nowrap;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
100% {
        transform: translateX(-100%);
    }
}
