/* ShoppingBag.css */

.empty-bag {
    font-size: 36px;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}

ul {
    list-style-image: url("images/heart.svg");
    width: 30px;
    height: 60px;
    margin-top: 50px;
    margin-left: 100px;
  }

.total {
    font-size: 36px;
    margin-left: 120px;
    margin-top: 40px;
  }

.button-delete-cancel {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url("images/button-delete-cancel.svg");
    cursor: pointer;
}

.button-edit {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    background-image: url("images/button-edit.svg");
    cursor: pointer;
}

.button-save {
    display: block;
    width: 20px;
    height: 16px;
    border: none;
    background-color: transparent;
    background-image: url("images/button-save.svg");
    cursor: pointer;
}

.item-name {
    font-size: 36px;
}

.edit-input {
    font-family: 'VT323-Regular';
    font-size: 32px;
    text-transform: lowercase;
    width: 400px;
    height: 40px;
    border: 7px solid black;
    outline: none;
}

.edit-error-message {
    color: #FF9900;
    width: 400px;
    margin-left: 50px;
    margin-top: 5px;
    font-size: 20px;
}

.edit-error-input {
    font-family: 'VT323-Regular';
    text-transform: lowercase;
    width: 400px;
    height: 40px;
    border: 7px solid #FF9900;
    margin-left: 40px;
}
