/* ShoppingBag.css */

.empty-bag {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
}

ul {
    width: 30px;
    height: 60px;
    list-style-image: url("images/heart.svg");
  }

.total {
      position: fixed;
      top: 60%;
      font-size: 36px;
  }

li > div {
      position: relative;
      margin-bottom: -100px;
  }
  
.button-delete-cancel {
      position: absolute;
      top: -75px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      background-image: url("images/button-delete-cancel.svg");
      cursor: pointer;
      border: none;
  }
  
.button-edit {
      position: absolute;
      top: 40px;
      width: 24px;
      height: 24px;
      background-color: transparent;
      background-image: url("images/button-edit.svg");
      cursor: pointer;
      border: none;
  }

.button-save {
      position: absolute;
      top: 40px;
      left: -120px;
      width: 20px;
      height: 16px;
      background-color: transparent;
      background-image: url("images/button-save.svg");
      cursor: pointer;
      border: none;
  }

.item-name {
    position: absolute;
    top: 110px;
    width: 400px;
    margin-left: 20px !important;
    font-size: 36px;
}

.edit-input {
    outline: none;
    position: absolute;
    width: 400px;
    height: 40px;
    margin-left: 30px;
    padding-left: 10px;
    border: 7px solid black;
    font-size: 32px;
    font-family: 'VT323-Regular';
    text-transform: lowercase;
}

.edit-error-message {
    position: absolute;
    width: 400px;
    margin-top: 60px;
    margin-left: 45px;
    font-size: 20px;
    color: #FF9900;
}

.edit-error-input {
    outline: none;
    position: absolute;
    width: 400px;
    height: 40px;
    margin-left: 30px;
    border: 7px solid #FF9900;
    font-size: 32px;
    font-family: 'VT323-Regular';
    text-transform: lowercase;
}
