/* styles.css */

@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'VT323-Regular';
    src: url('./fonts/VT323-Regular.ttf') format('truetype');
  }

body {
    font-family: 'VT323-Regular';
    text-transform: lowercase;
    background-image: url("images/background.png");
}

.main-message {
    width: 1000px;
    height: 600px;
    background-color: #FFF3FC;
    border: 7px solid black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.main-message-title {
    margin-top: -50px;
    margin-left:70px;
    color: white;
}

.greeting-one {
    font-size: 48px;
    text-align: center;
    margin-top: 180px;
}

.greeting-two {
    font-size: 48px;
    text-align: center;
}

.enter-dream {
    font-size: 32px;
    margin-left: 40px;
    margin-top: 50px;
}

.total {
    font-size: 36px;
    margin-left: 60px;
    margin-top: 50px;
}

.green-square {
    width: 50px;
    height: 50px;
    background-color: #E0FF89;
}

.pink-title {
    height: 50px;
    width: 950px;
    background-color: #FF89E5;
    margin-top: -50px;
    margin-left: 50px;
}

.vertical-line {
    width: 7px;
    height: 50px;
    background-color: black;
    margin-left: 50px;
    margin-top: -50px;
}

.horizonal-line {
    width: 1000px;
    height: 7px;
    background-color: black;
}
    
.button-primary {
    display: block;
    width: 260px;
    height: 60px;
    border: 7px solid black;
    color: #fff;
    background-color: #CB89FF;
    font-family: 'PressStart2P-Regular';
    font-size: 14px;
    text-transform: lowercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-shopping-bag {
    font-family: 'VT323-Regular';
    font-size: 48px;
    padding-top: 20px;
    width: 50px;
    height: 80px;
    border: none;
    background-color: transparent;
    background-image: url("images/shopping-bag.svg");
    cursor: pointer;
    margin-left: 900px;
    margin-top: 30px;
}
  
.button-primary:hover {
    background-color: #8F00FF;
}
  
.button-back {
    width: 50px;
    height: 50px;
    border: none;
    background-image: url("images/button-back.svg");
    cursor: pointer;
    display: block;
}

.button-back:hover {
    background-image: url("images/button-back-hover.svg");
}

.button-edit {
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    background-image: url("images/button-edit.svg");
    cursor: pointer;
}

.button-save {
    display: block;
    width: 20px;
    height: 16px;
    border: none;
    background-color: transparent;
    background-image: url("images/button-save.svg");
    cursor: pointer;
}

.button-delete-cancel {
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url("images/button-delete-cancel.svg");
    cursor: pointer;
    margin-bottom: 20px;
}


ul {
    list-style-image: url("images/heart.svg");;
    width: 30px;
    height: 60px;
    margin: 100px;
  }
  

.main-input{
    font-family: 'VT323-Regular';
    font-size: 32px;
    text-transform: lowercase;
    width: 800px;
    height: 80px;
    border: 7px solid black;
    outline: none;
    margin-left: 40px;
}

.edit-input {
    font-family: 'VT323-Regular';
    font-size: 32px;
    text-transform: lowercase;
    width: 400px;
    height: 40px;
    border: 7px solid black;
    outline: none;
}

.error-message {
    color: #FF9900;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 24px;
}

.error-input {
    font-family: 'VT323-Regular';
    font-size: 32px;
    text-transform: lowercase;
    width: 800px;
    height: 80px;
    border: 7px solid #FF9900;
    margin-left: 40px;
}

.header {
    text-decoration: none;
    color: black;
}

.footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: black;
  }
  

.star {
    position: absolute;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(20px, 20px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .image-container {
    position: relative;
    margin-left: 750px;
    margin-top: -260px;
  }
  
  .delivery-text {
    font-family: 'PressStart2P-Regular';
    position: absolute;
    top: 120px;
    left: 20px;
    transform: rotate(35deg);
  }

  .asterisk {
    font-size: 20px;
    position: fixed;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
  }

  .confirmation {
    font-size: 48px;
    text-align: center;
    margin-top: 220px;
}