/* styles.css */

@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
  }

.button-primary {
    width: 260px;
    height: 60px;
    border: 7px solid black ;
    color: #fff;
    background-color: #CB89FF;
    font-family: 'PressStart2P-Regular';
    font-size: 14px;
    text-transform: lowercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.button-primary:hover {
    background-color: #8F00FF;
}
  